* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Stylish", serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --bg-gradient: linear-gradient(90deg, #00EF3F, #1e1f1f, #1e1f1f, #1e1f1f, #1e1f1f, #1e1f1f, #1e1f1f, #1e1f1f, #1e1f1f, #00EF3F) ;
    --bg: #1e1f1f;
    --text-color: #00EF3F;
    --hover-color: #00e5ff;
}



/* ---- ANIMATIONS ---- */

/* @keyframes scrollColors {
    0% { background-color: color here ; }
    25% { background-color: color here ; }
    50% { background-color: color here ; }
    75% { background-color: color here ; }
    100% { background-color: color here ; }
} */

/* Fade in animation for .display */
@keyframes fadeIn {
    from {opacity: 0; color: transparent;}
    to {opacity: 1 color; color: var(--text-color);}
}

@keyframes vanish {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

/* QUICK STYLES */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    visibility: hidden;
}

.disappear {
    animation: vanish 5s forwards;
}


/*  */

body {
    display: flex;
    justify-content: center;
    animation: scrollColors 20s linear ;
    background-color: #1e1f1f;
}

.site-wrapper {
    /* background-color: var(--bg); */
    background-color: rgba(0,0,0,0);

    color: var(--text-color);
    width: 80%;
    max-width: 900px;
    min-width: 900px;
    padding: 0 0 50px 0;
    /* height: 100vh; */
    
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #00EF3F;
    color:#1e1f1f;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0 0 30px 0;
}

main {
    display: flexbox;
    flex-direction: column;
}


.game-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 3px solid #00EF3F;
    border-radius: 1rem;
    /* margin: 40px 0; */
    z-index: 3;
    transform: translateY(-15px);
    background-color: var(--text-color);
}

.display > .player-choice,
.display > .comp-choice {
    width: 100%; 
    height: 100%;
    border: 5px solid var(--text-color);
    border-radius: 1rem;
    background-color: #1e1f1f;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}


.vertical-line {
    width: 15px;
    height: 100%;
    background-color: #00EF3F;
}

.win-lose {
    background-color: red;
    color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.score-trkr-box {
    width: 100%;
    padding: 30px 0 0 10px;
    background-color: var(--text-color);
    color: #1e1f1f;
    border-radius: 1rem;
    transform: translateY(-45px);
    z-index: 2;
}

.score-trkr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-0.3rem);
}

.score-trkr > h2 {
    width: 250px;
}

.score-trkr h2,
.score-trkr div {
    /* width: 100%; */
    font-size: 1.5rem;
}

.score-counter {
    display: flex;
    justify-content: center;
}

.score-counter > p {
    width: 50px;
    text-align: center;
}

.score-counter > p:nth-child(2) {
    text-align: center;
}

.controls {
    width: 70%;
}
.rps-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: -80px 0 0 0;
    padding: 80px 0 0 0;
    background-color: var(--text-color);
    font-size: 25px;
    border-radius: 1rem;
}

.rps-buttons > button {
    background-color:var(--bg);
    color: var(--text-color);
    width: 150px;
    height: fit-content;
    margin: -20px 0 0 0;
    padding: 0px 0 10px 0;
    border: none;
    border-radius: 1rem;
    font-size: 2.5rem;
    transition: transform 0.5s ease;
    z-index: 2;

}

.rps-buttons > button:hover {
    background-color: var(--text-color);
    /* box-shadow: 0px 0px 15px var(--text-color); */
    color:#1e1f1f;
    transform: translateY(+10px);


}

.rps-buttons > button:active {
    background-color: #00b931;
    transform: scale(0.98,0.98) translateY(+10px);
}



