* {
    box-sizing: border-box;
    margin: 0;
    border: red dotted 1px;
    font-family: 'Courier New', Courier, monospace;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*  */

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.site-wrapper {
    background-color: #000000;
    color: #FFFFFF;
    width: 80%;
    max-width: 1500px;
    padding: 0 0 50px 0;
    /* height: 100vh; */
    
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

main {
    display: flexbox;
    flex-direction: column;
}


.score-trkr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.score-trkr h2,
.score-trkr div {
    /* width: 100%; */
    font-size: 2rem;
}

.score-counter {
    display: flex;
    justify-content: center;
}

.score-counter > p {
    width: 50px;
    text-align: center;
}

.score-counter > p:nth-child(2) {
    text-align: center;
}


/* .player-points {
}

.computer-points {
} */

.game-box {
    display: flex;
    justify-content: space-around;
}

.game-box > div {
    min-height: 300px;
}

.rps-buttons {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    font-size: 25px;
}

.rps-buttons > button {
    height: 100%;
}

.display-win-lose {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.display-win-lose > * {
    width: 100%;
    text-align: center;
}